@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  /* Brand Colors */
  --color-g-blue: #3266dc;
  --color-g-red: #e34936;
  --color-g-green: #41a753;
  --color-g-yellow: #fbd52a;
  
  /* Dark / Strokes / Typography */
  --color-g-dark: #303030;
  --color-border: #1e1e1e;
  
  /* Light Backgrounds */
  --color-bg-white: #ffffff;
  --color-g-light-gray: #f1f3f4;
  --color-g-light-red: #fbe8e6;
  --color-g-light-green: #e7f4ea;
  --color-g-light-yellow: #fce7a5;
  --color-g-light-blue: #c7ebf6;
  --color-g-med-blue: #71c4fa;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1e1e1e;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Flat UI Rule: No background grids or gradients */
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
